* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Tektur", sans-serif;
    background-color: rgb(0, 41, 247);
}

.container {
    max-width: 1246px;
    margin: 0px auto;
    padding: 0px 15px;
    transition: 500ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 100px auto 0px auto;
}

.title {
    font-size: 26px;
    color: rgb(246, 197, 2);
}

.input {
    outline: none;
    border: 2px solid rgb(246, 238, 4);
    background-color: rgb(0, 25, 251);
    padding: 10px 15px;
    border-radius: 10px;
    font-family: "Tektur", sans-serif;
    font-size: 32px;
    transition: 250ms;
}

.input:hover, .input:focus {
    opacity: .8;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box-el {
    background-color: rgb(216, 231, 8);
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.box-el-box {
    display: flex;
    gap: 15px;
    text-align: start;
}

.box-el-box div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(184, 184, 184);
}

.box-el-box img {
    width: 200px;
}

.box-el-box div div:last-child ul {
    padding: 0px 0px 0px 30px;
}

.box-title {
    color: rgb(155, 155, 155);
}

.box-description {
    color: rgb(139, 139, 139);
    font-weight: 800;
}

.box-img {
    width: 30px;
    margin: 0px auto;
}